header{
	background: url("../images/pepsimandrink.gif");
	background-repeat: no-repeat;
	background-size: cover;
	padding: 10em;
	background-attachment: fixed;
	background-position: center;
}
h1{
	background-color: white;
	color: navy;
}
.navlink{
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

.navitem a{
	color: navy;
	text-decoration: none;
	opacity: 1;
}

body{
	background-color: silver;
	font-family: Georgia, serif;
	font-size: 12px;
	color: navy;
}

p{
	margin-top: 1em;
	margin-bottom: 1em;
	text-align: center;
}

h1{
	font-size: 2em;
	text-align: center;
}

h2{
	font-size: 1.5em;
	text-align: center;
}

a.skip{
	text-decoration: none;
	transform: translateY(-200%);
	position: absolute;
	color: silver;
}

a.skip:focus{
	transform: translateY(0%);
}

img{
	display: block;
	margin: 0 auto;
}

.drinks{
	text-align: center;
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 1em;
}

.drinks img:hover{
	animation: shake 0.2s;
}

.form{
	text-align: center;
}

@keyframes shake{
	0% { transform: translate(1px, 1px) rotate(0deg); }
	25% { transform: translate(-1px, -2px) rotate(-2deg); }
	50% { transform: translate(-3px, 0px) rotate(2deg); }
	75% { transform: translate(3px, 2px) rotate(0deg); }
	100% { transform: translate(1px, -1px) rotate(2deg); }
}

.drinks a{
	color: navy;
}

.current a{
	text-decoration: underline;
	color: navy;
}

.navitem a:hover{
	opacity: .5;
}

.container{
	display: grid;
	grid-template-areas: "item1"
						 "item2"
						 "item3"
						 "item4";
	text-align: center;
}

.item1{
	grid-area: item1;
}

.item2{
	grid-area: item2;
}

.item3{
	grid-area: item3;
}

.item4{
	grid-area: item4;
}

#canvas{
	margin: auto;
	display: block;
	background-color: white;
	border: 1px solid black;
}

@media screen and (min-width: 700px){
	.drinks{
		grid-template-columns: 1fr 1fr;
	}
	body{
		font-size: 1.25em;
	}
	.container{
		grid-template-areas: "item1 item1"
							 "item2 item3"
							 "item4 item4";
	}
	.navlink{
		flex-direction: column;
	}
	body{
		text-align: left;
	}
}

@media screen and (min-width: 1200px){
	.drinks{
		grid-template-columns: 1fr 1fr 1fr;
	}
	body{
		font-size: 1.5em;
	}
}